{
  "root": true,
  "env": {
    "es2021": true
  },
  "extends": [
    "eslint:recommended",
    "plugin:@typescript-eslint/recommended",
    "plugin:mocha/recommended"
  ],
  "ignorePatterns": ["dist/*"],
  "parser": "@typescript-eslint/parser",
  "parserOptions": {
    "sourceType": "module"
  },
  "plugins": ["@typescript-eslint", "mocha", "@jaredmcateer/shouldjs"],
  "rules": {
    "eqeqeq": "error",
    "prefer-const": "error",
    "mocha/no-exclusive-tests": "error",
    "mocha/no-hooks": "error",
    "mocha/no-pending-tests": "error",
    "mocha/no-return-from-async": "error",
    "mocha/no-top-level-hooks": "error",
    "mocha/no-skipped-tests": "error",
    "@jaredmcateer/shouldjs/should-var-name": "error",
    "@jaredmcateer/shouldjs/no-property-assertions": "error",
    "@jaredmcateer/shouldjs/expect-should-assertion": "error"
  }
}
